.input-box-big {
    width: 100%;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px solid #888;
    padding: 10px;
    margin-right: 20px;
}
.input-box-small {
    width: 25%;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px solid #888;
    padding: 10px;
    margin-right: 20px;
}

.select {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #888;
}

.btn {
    align-self: flex-end;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
